body {
  font-family: Arial, sans-serif;
  background-image: url(../media/clouds.jpg);
  background-size: cover;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgba(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

a {
  text-decoration: none;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}
.weather-app {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
}
.weather-temperature {
  border-radius: 5px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.btn-primary {
  padding: 8px 16px;
  background-color: #47a3ff;
  border-color: #47a3ff;
}
.btn-primary:hover {
  background-color: #267fe6;
  border-color: #267fe6;
}
#city-input {
  padding: 8px;
}
